{%extends 'main/base.html'%}
{%load static%}
{%block links%}
<ul>
	<li><a href="{%url 'registr'%}">Регистрация</a></li>
	<li><a href="{%url 'login'%}">Вход</a></li>
	<li><a href="{%url 'logout'%}">Выход</a></li>
	<li><a href="{%url 'create_post'%}">Создать</a></li>
</ul>
{%endblock%}
{%block content%}
<main class="main">
	<div class="container">
		{%for data in data%}
		
		<div class="carts">
			<div class="cart">
				<div class="photo">
					<img src="/media/{{data.image}}" alt="">
				</div>
				<div class="text">
					<h3>{{data.user_pop}}</h3>
					<p>{{data.text}}</p>
					<p>{{data.weight}}кг</p>
				</div>
				<div class="comunications">
					<div class="chat">
						<a href="http://127.0.0.1:8000/chat/{{user}}">
							<img src="{%static 'img/messenger.png'%}" alt="" width="30" height="30">
						</a>
					</div>
					<div class="phone">	
						<img src="{%static 'img/phone.png'%}" alt=""  width="30" height="30">
					</div>
				</div>
			</div>
		</div>
		
		{%endfor%}
		</div>
	</main>
	<footer class="footer"></footer>
{%endblock%}